$default_comp_bgcolor = #cfd8dc // 使用 $ 前缀声明一个变量
$default_comp_titlecolor = #fff
$default_bg_color = #263238
$default_reversbg_color = #fff
$darkTextColor = #333
$headerHeight = .86rem
$lightShadow = 0rem 0rem .7rem .1rem rgba(177, 177, 177, 1)